<div class="container">
  <a class="btn btn-outline-primary btn-sm mb-3" routerLink="/movimentacao-new">Nova Movimentação</a>
  <h1 class="display-6">Movimentações</h1>
  <p class="lead-1">Listagem das movimentações por correntista</p>

  <hr class="my-2">
  <div class="input-group">
    <select id="iCorrentista" [(ngModel)]="correntistaSelected" class="form-select col-md-6">
      <option *ngFor="let c of correntistas" [ngValue]="c">{{c.cpf}}-{{c.nome}}</option>
    </select>
    <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="listMovimentacoes()">Buscar</button>
    <a class="btn btn-outline-primary btn-sm" routerLink="/correntistas">Correntistas</a>
  </div>

  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data Hora</th>
        <th scope="col">Descrição</th>
        <th scope="col">Tipo</th>
        <th scope="col">Valor</th>
        <th scope="col">ID da Conta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movimentacoes; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.tipo }}</td>
        <td [ngStyle]="{'color':item.tipo === 'Receita' ? 'blue' : 'red'}">
          {{ item.valor | currency:'BRL' }}
        </td>
        <td>{{ item.idConta }}</td>
    </tbody>
  </table>
</div>